<div id="<%= dom_id user %>">
  <div>
    <strong>Nome:</strong>
    <%= user.name %>
  </div>

  <div>
    <strong>CPF:</strong>
    <%= user.cpf %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= user.email_address %>
  </div>

  <div>
    <strong>Tipo do usuário:</strong>
    <%= user.user_type %>
  </div>

  <div>
    <strong>password digest:</strong>
    <%= user.password %>
  </div>

</div>
