<div id="<%= dom_id book %>">

<% if book.cover.attached? %>
  <%= image_tag book.cover.variant(resize_to_limit: [300, 400]).processed , class: "img-fluid rounded shadow" %>
<% else %>
  <p>Sem capa</p>
<% end %>

  <div>
    <strong>Titulo:</strong>
    <%= book.title %>
  </div>

  <div>
    <strong>Autor:</strong>
    <%= book.author %>
  </div>

  <div>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </div>

  <div>
    <strong>Editora:</strong>
    <%= book.publisher %>
  </div>

</div>
