<p style="color: green"><%= notice %></p>

<%= render @book, show_details: true %>

<div>
  <% if current_user&.admin? %>
  <%= link_to "Editar livro", edit_book_path(@book) %> |
  <% end %>
  <%= link_to "Voltar", request.referer || home_path, class: "btn btn-secondary" %>

  <%= button_to "Deletar Livro", @book, method: :delete %>
</div>
