<div id="<%= dom_id loan %>">
  <div>
    <strong>Borrowed at:</strong>
    <%= loan.borrowed_at %>
  </div>

  <div>
    <strong>Expected return at:</strong>
    <%= loan.expected_return_at %>
  </div>

  <div>
    <strong>Returned at:</strong>
    <%= loan.returned_at %>
  </div>

  <div>
    <strong>Fine amount:</strong>
    <%= loan.fine_amount %>
  </div>

  <div>
    <strong>User:</strong>
    <%= loan.user_id %>
  </div>

  <div>
    <strong>Book copy:</strong>
    <%= loan.book_copy_id %>
  </div>

</div>
